server:
  port: "8080"
  mode: "debug"

database:
  host: "127.0.0.1"
  port: "3306"
  user: "root"
  password: "123456"    # 这里填您刚才在数据库里设置的密码
  db_name: "flowgo"
  max_open_conns: 100
  max_idle_conns: 10

jwt:
  secret_key: "your-secret-key-change-me"
  expiration: 24